{{#each brawlBars}}
<details {{#if @last}}open{{/if}}>
    <summary class="bar-summary">
        <span>{{this.attribute}}</span>
        <span class="bar-modifiers">
            <a class="fas fa-chevron-up {{#if @first}}disabled{{/if}}"></a>
            <a class="fas fa-chevron-down {{#if @last}}disabled{{/if}}"></a>
            <a class="fas fa-trash"></a>
            <span class="bar-id">{{this.id}}</span>
        </span>
    </summary>
    <div class="indent-details" id="{{this.id}}">
        <input type="number" style="display: none;" name="flags.barbrawl.resourceBars.{{this.id}}.order" value="{{@index}}" />
        <input type="hidden" name="flags.barbrawl.resourceBars.{{this.id}}.id" value="{{this.id}}" />
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.attribute"}}:</label>
            <div class="form-fields">
                <select class="brawlbar-attribute bar-attribute" name="flags.barbrawl.resourceBars.{{this.id}}.attribute">
                    {{#select this.attribute}}
                    <option value="">{{localize "barbrawl.attribute.none"}}</option>
                    <option value="custom">{{localize "barbrawl.attribute.custom"}}</option>
                    {{#each ../barAttributes as |attrs label|}}
                    <optgroup label="{{ label }}">
                        {{#each attrs}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
                <input type="hidden" name="{{this.id}}.attribute" value="{{this.attribute}}" />
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.value"}}:</label>
            <div class="form-fields">
                <input type="number" class="{{this.id}}-value" name="flags.barbrawl.resourceBars.{{this.id}}.value"
                    value="{{this.value}}" {{#if (ne this.attribute "custom")}}disabled{{/if}} />
                <span class="sep">/</span>
                <input type="number" class="{{this.id}}-max" name="flags.barbrawl.resourceBars.{{this.id}}.max"
                    value="{{this.max}}" />
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.color"}}:</label>
            <div class="form-fields">
                <input class="color" style="min-width: 64px;" type="text"
                    name="flags.barbrawl.resourceBars.{{this.id}}.mincolor" value="{{this.mincolor}}" />
                <input type="color" data-edit="flags.barbrawl.resourceBars.{{this.id}}.mincolor" value="{{this.mincolor}}">
                <span class="sep">-</span>
                <input class="color" style="min-width: 64px;" type="text"
                    name="flags.barbrawl.resourceBars.{{this.id}}.maxcolor" value="{{this.maxcolor}}" />
                <input type="color" data-edit="flags.barbrawl.resourceBars.{{this.id}}.maxcolor" value="{{this.maxcolor}}">
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.position"}}:</label>
            <div class="form-fields">
                <select name="flags.barbrawl.resourceBars.{{this.id}}.position">
                    {{#select this.position}}
                    <option value="top-inner">{{localize "barbrawl.position.top-inner"}}</option>
                    <option value="top-outer">{{localize "barbrawl.position.top-outer"}}</option>
                    <option value="bottom-inner">{{localize "barbrawl.position.bottom-inner"}}</option>
                    <option value="bottom-outer">{{localize "barbrawl.position.bottom-outer"}}</option>
                    <option value="left-inner">{{localize "barbrawl.position.left-inner"}}</option>
                    <option value="left-outer">{{localize "barbrawl.position.left-outer"}}</option>
                    <option value="right-inner">{{localize "barbrawl.position.right-inner"}}</option>
                    <option value="right-outer">{{localize "barbrawl.position.right-outer"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.otherVisibility"}}:</label>
            <div class="form-fields">
                <select name="flags.barbrawl.resourceBars.{{this.id}}.otherVisibility" data-dtype="Number">
                    <option value="50" {{#if (eq this.otherVisibility 50)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.always"}}</option>
                    <option value="30" {{#if (eq this.otherVisibility 30)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.hover"}}</option>
                    <option value="0" {{#if (eq this.otherVisibility 0)}}selected{{/if}}>{{localize "barbrawl.visibility.none"}}
                    </option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "barbrawl.config.ownerVisibility"}}:</label>
            <div class="form-fields">
                <select name="flags.barbrawl.resourceBars.{{this.id}}.ownerVisibility" data-dtype="Number">
                    <option value="-1" {{#if (eq this.ownerVisibility -1)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.inheritFromOther"}}</option>
                    <option value="50" {{#if (eq this.ownerVisibility 50)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.always"}}</option>
                    <option value="35" {{#if (eq this.ownerVisibility 35)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.hoverOrControl"}}</option>
                    <option value="30" {{#if (eq this.ownerVisibility 30)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.hover"}}</option>
                    <option value="10" {{#if (eq this.ownerVisibility 10)}}selected{{/if}}>{{localize
                        "barbrawl.visibility.control"}}</option>
                    <option value="0" {{#if (eq this.ownerVisibility 0)}}selected{{/if}}>{{localize "barbrawl.visibility.none"}}
                    </option>
                </select>
            </div>
        </div>
        <details>
            <summary>{{localize "barbrawl.config.advanced"}}</summary>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.gmVisibility"}}:</label>
                <div class="form-fields">
                    <select name="flags.barbrawl.resourceBars.{{this.id}}.gmVisibility" data-dtype="Number">
                        <option value="-1" {{#if (eq this.gmVisibility -1)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.inheritFromOwner"}}</option>
                        <option value="50" {{#if (eq this.gmVisibility 50)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.always"}}</option>
                        <option value="35" {{#if (eq this.gmVisibility 35)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.hoverOrControl"}}</option>
                        <option value="30" {{#if (eq this.gmVisibility 30)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.hover"}}
                        </option>
                        <option value="10" {{#if (eq this.gmVisibility 10)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.control"}}</option>
                        <option value="0" {{#if (eq this.gmVisibility 0)}}selected{{/if}}>{{localize
                            "barbrawl.visibility.none"}}
                        </option>
                    </select>
                </div>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.hide"}}:</label>
                <div class="form-fields">
                    <label>
                        <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.hideFull" {{#if
                            this.hideFull}}checked{{/if}} />
                        <span>{{localize "barbrawl.config.hideFull"}}</span>
                    </label>
                    <span class="sep" style="margin: 0;">-</span>
                    <label>
                        <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.hideEmpty" {{#if
                            this.hideEmpty}}checked{{/if}} />
                        <span>{{localize "barbrawl.config.hideEmpty"}}</span>
                    </label>
                    <span class="sep" style="margin: 0;">-</span>
                    <label>
                        <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.hideCombat" {{#if
                            this.hideCombat}}checked{{/if}} />
                        <span>{{localize "barbrawl.config.hideCombat"}}</span>
                    </label>
                    <span class="sep" style="margin: 0;">-</span>
                    <label>
                        <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.hideNoCombat" {{#if
                            this.hideNoCombat}}checked{{/if}} />
                        <span>{{localize "barbrawl.config.hideNoCombat"}}</span>
                    </label>
                </div>
                <p class="notes">{{localize "barbrawl.config.hideHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.indent"}}:</label>
                <div class="form-fields">
                    <label>
                        <input type="number" class="indent-input" name="flags.barbrawl.resourceBars.{{this.id}}.indentLeft"
                            min="-100" max="100" value="{{this.indentLeft}}" />
                        <span>% {{localize "barbrawl.config.indentLeft"}}</span>
                    </label>
                    <span class="sep" style="margin: 0;">-</span>
                    <label>
                        <input type="number" class="indent-input" name="flags.barbrawl.resourceBars.{{this.id}}.indentRight"
                            min="-100" max="100" value="{{this.indentRight}}" />
                        <span>% {{localize "barbrawl.config.indentRight"}}</span>
                    </label>
                </div>
                <p class="notes">{{localize "barbrawl.config.indentHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.shareHeight"}}:</label>
                <div class="form-fields">
                    <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.shareHeight" {{#if
                        this.shareHeight}}checked{{/if}} />
                </div>
                <p class="notes">{{localize "barbrawl.config.shareHeightHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.style"}}:</label>
                <div class="form-fields">
                    <select name="flags.barbrawl.resourceBars.{{this.id}}.style">
                        {{#select this.style}}
                        <option value="user">{{localize "barbrawl.textStyle.user"}}</option>
                        <option value="none">{{localize "barbrawl.textStyle.none"}}</option>
                        <option value="fraction">{{localize "barbrawl.textStyle.fraction"}}</option>
                        <option value="percent">{{localize "barbrawl.textStyle.percent"}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.label"}}:</label>
                <div class="form-fields">
                    <input type="text" name="flags.barbrawl.resourceBars.{{this.id}}.label" value="{{this.label}}" />
                </div>
                <p class="notes">{{localize "barbrawl.config.labelHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.ignoreLimits"}}:</label>
                <div class="form-fields">
                    <label>
                        <input class="ignore-limit" type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.ignoreMin"
                            {{#if this.ignoreMin}}checked{{/if}} {{#if (ne this.attribute "custom" )}}disabled{{/if}} />
                        <span>{{localize "barbrawl.config.ignoreMin"}}</span>
                    </label>
                    <span class="sep" style="margin: 0;">-</span>
                    <label>
                        <input class="ignore-limit" type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.ignoreMax"
                            {{#if this.ignoreMax}}checked{{/if}} {{#if (ne this.attribute "custom" )}}disabled{{/if}} />
                        <span>{{localize "barbrawl.config.ignoreMax"}}</span>
                    </label>
                </div>
                <p class="notes">{{localize "barbrawl.config.ignoreLimitsHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.invert"}}:</label>
                <div class="form-fields">
                    <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.invert" {{#if
                        this.invert}}checked{{/if}} />
                </div>
                <p class="notes">{{localize "barbrawl.config.invertHint"}}</p>
                <label>{{localize "barbrawl.config.invertDirection"}}:</label>
                <div class="form-fields">
                    <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.invertDirection" {{#if
                        this.invertDirection}}checked{{/if}} />
                </div>
                <p class="notes">{{localize "barbrawl.config.invertDirectionHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.approximate"}}:</label>
                <div class="form-fields">
                    <input type="number" name="flags.barbrawl.resourceBars.{{this.id}}.subdivisions" min="0" max="20"
                        value="{{this.subdivisions}}" />
                </div>
                <p class="notes">{{localize "barbrawl.config.approximateHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.approximateOwner"}}:</label>
                <div class="form-fields">
                    <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.subdivisionsOwner" {{#if
                        this.subdivisionsOwner}}checked{{/if}} />
                </div>
                <p class="notes">{{localize "barbrawl.config.approximateOwnerHint"}}</p>
            </div>

			<div class="form-group">
				<label>{{localize "barbrawl.config.approximateMatchesMax"}}:</label>
				<div class="form-fields">
					<input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.subdivisionsMatchesMax" {{#if
						this.subdivisionsMatchesMax}}checked{{/if}} />
				</div>
				<p class="notes">{{localize "barbrawl.config.approximateMatchesMaxHint"}}</p>
			</div>
            <div class="form-group">
                <label>{{localize "barbrawl.config.fgImage"}}:</label>
                <div class="form-fields">
                    {{filePicker target=(barbrawl-concat "flags.barbrawl.resourceBars." this.id ".fgImage") type="imagevideo"}}
                    <input type="text" class="image" name="flags.barbrawl.resourceBars.{{this.id}}.fgImage"
                        value="{{this.fgImage}}" />
                </div>
                <p class="notes">{{localize "barbrawl.config.fgImageHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.bgImage"}}:</label>
                <div class="form-fields">
                    {{filePicker target=(barbrawl-concat "flags.barbrawl.resourceBars." this.id ".bgImage") type="imagevideo"}}
                    <input type="text" class="image" name="flags.barbrawl.resourceBars.{{this.id}}.bgImage"
                        value="{{this.bgImage}}" />
                </div>
                <p class="notes">{{localize "barbrawl.config.bgImageHint"}}</p>
            </div>
        
            <div class="form-group">
                <label>{{localize "barbrawl.config.opacity"}}:</label>
                <div class="form-fields">
                    <label>
                        <input type="number" class="indent-input" name="flags.barbrawl.resourceBars.{{this.id}}.opacity" min="0"
                            max="100" value="{{this.opacity}}" />
                        <span>%</span>
                    </label>
                </div>
            </div>
            </details>
    </div>
</details>
{{/each}}