<div class="bar-container">
    {{> modules/barbrawl/templates/bar-config.hbs this}}
    <button type="button" class="brawlbar-add"><i class="far fa-plus-square"></i> {{localize "barbrawl.add"}}</button>
    <div class="bar-controls">
        {{#if canSaveDefaults}}
        <button type="button" class="brawlbar-save"><i class="far fa-save"></i> {{localize
            "barbrawl.defaults.save"}}</button>
        {{/if}}
        {{#if canLoadDefaults}}
        <button type="button" class="brawlbar-load"><i class="fas fa-undo-alt"></i> {{localize
            "barbrawl.defaults.load"}}</button>
        {{/if}}
    </div>
</div>