.resource-input {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
    justify-content: center;
    width: 100px;
}

.resource-input.compact {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 6px;
    width: 40px;
}

.col.middle .resource-input {
    width: unset;
}

.resource-input.compact input[type="text"] {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 2px;
    min-width: 40px;
}

.resource-input input:disabled {
    color: #aaa;
}

#token-hud .attribute.left-bars {
    position: absolute;
    right: 100%;
    z-index: -1;
}

#token-hud .attribute.right-bars {
    position: absolute;
    left: 100%;
    z-index: -1;
}

#token-hud .attribute.bar1 {
    position: absolute;
    top: calc(100% - 44px);
    height: fit-content;
}

#token-hud .attribute.bar2 {
    position: absolute;
    top: 44px;
    height: fit-content;
    transform: translateY(-100%);
}

.token-sheet .tab[data-tab="resources"] label,
.brawlbar-configuration label {
    white-space: nowrap;
}

.token-sheet .tab[data-tab="resources"] .form-fields label,
.brawlbar-configuration .form-fields label {
    display: flex;
}

input.indent-input {
    text-align: right;
    width: 32px;
    margin-right: 1px;
}

div.indent-details {
    margin-left: 15px;
}

.bar-modifiers {
    visibility: hidden;
}

.bar-summary:hover .bar-modifiers {
    visibility: visible;
}

.bar-modifiers a.disabled {
    color: #999;
    pointer-events: none;
}

.bar-modifiers span.bar-id {
    color: #666;
    font-size: smaller;
}

.bar-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 130px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: visible;
}

.bar-controls {
    margin-top: auto;
    display: flex;
}

button.brawlbar-add {
    width: 80%;
    align-self: center;
}

.bar-controls #context-menu {
    text-align: left;
    bottom: calc(100% + 2px);
    top: unset;
}

.bar-controls #context-menu .context-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.token-sheet nav.sheet-tabs {
    flex-grow: 0;
}